.jobPosting {
  width: 1200px;
  margin: 0 auto;
  padding: 20px ;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.company {
  font-size: 18px;
  color: #666;
}

.type,
.experience {
  font-size: 16px;
  color: #888;
}

.description {
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}

.responsibilities,
.qualifications {
  list-style-type: disc;
  margin-left: 20px;
}

.applyButton,
.shareButton {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.applyButton {
  background-color: #0070f3;
  color: white;
}

.shareButton {
  background-color: #4caf50;
  color: white;
}


.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.company {
  font-size: 18px;
  color: #666;
}

.type,
.experience {
  font-size: 16px;
  color: #888;
}

.description {
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}

.responsibilities,
.qualifications {
  list-style-type: disc;
  margin-left: 20px;
}

.applyButton,
.shareButton {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.applyButton {
  background-color: #0070f3;
  color: white;
}

.shareButton {
  background-color: #4caf50;
  color: white;
}


.type,
.experience {
  font-size: 16px;
  color: #888;
}

