.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
.image {

    object-fit: cover;
    margin-bottom: 0.5rem;
}
.heading {
    font-size: 2rem;
    color: #0a165e;
    margin-bottom: 0.5rem;
}
.para {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 1rem;

}   
.bt {
    background-color: #0a165e;  
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
}