.carouselContainer {
    width: 100%;
    max-width: 1300px;
    margin:auto;
    padding: 2rem 1rem;
    background-color: #F5F5F5;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(80%); 
  }
  