/* Navbar Base Styles */
.navbar {
  color: #0d1c70;
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: #0A192F;
  padding: 1rem 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Main Navbar */
.mainNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  color: #0d1c70;
  margin: 0 2rem;
  border-radius: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Logo */
.logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #0d1c70;
  margin-right: 2rem;
}

/* Menu Toggle (Hamburger) */
.menuToggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #0d1c70;
  cursor: pointer;
  z-index: 1001;
}

/* Menu */
.menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-grow: 1;
}

/* Nav List */
.navList {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

/* Nav Item */
.navItem {
  position: relative;
  cursor: pointer;
}

/* Nav Link */
.navLink {
  display: inline;
  color: #0d1c70;
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.navLink:hover {
  color: #00bfff;
  transform: rotate(45deg);
}

/* Targeting the icon */
.navLink i {
  display: inline-block;
  font-size: 0.9rem;
  transition: transform 0.3s ease-in-out; /* Smooth rotation */
}

.navLink:hover i {
  transform: rotate(-90deg);
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: #0d1c70;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  padding-right: 8rem;
  text-align: left;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0;
  visibility: hidden;
  max-height: auto;
  /* overflow: hidden; */
  transition: all 0.4s ease-in-out;
  transform: translateY(150px);
}

.navItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
  max-height: 950px;
  transform: translateY(35px);
  z-index: 1;
}

.activeLink{
  text-decoration: none ;
  color: #0d1c70 ;

}



/* Nested Dropdown */
.nestedDropdown {
  position: absolute;
  top:0;
  left:40%;
  background-color: white;
  color: #0d1c70;
  list-style: none;
  margin: 0;
  padding: 1rem;
  text-align: left;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in;
}

.nestedDropdownOpen {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  z-index: 1;
}

/* Dropdown Items */
.dropdown li,
.nestedDropdown li {
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

.dropdown li:hover,
.nestedDropdown li:hover {
  /* background-color: #f1f1f1; */
  color: #00bfff;
}

/* Actions */
.actions {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-left: auto;
}

.searchIcon {
  font-size: 1.5rem;
  color: #0d1c70;
  cursor: pointer;
}

.btn {
  font-size: 0.8rem;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  box-shadow: 0px 0.01em 0.01em rgba(45, 35, 66, 0.4),
    0px 0.3em 0.7em -0.01em rgba(45, 35, 66, 0.3),
    inset 0px -0.01em 0px rgba(58, 65, 111, 0.5);
  padding: 0 1rem;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.btn:hover {
  box-shadow: 0px 0.1em 0.2em rgba(45, 35, 66, 0.4),
    0px 0.4em 0.7em -0.1em rgba(45, 35, 66, 0.3),
    inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.btn:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

/* Mobile Styles */

@media (max-width: 913px) {
  .menuToggle {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%; /* Adjust width as needed */
    height: 100vh;
    background-color: #ffffff;
    color: #0d1c70;
    padding: 2rem;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    gap: 1rem;
  }

  .menuOpen {
    left: 0;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .navItem {
    padding: 0.5rem 0;
    width: 100%;
    text-align: left;
  }

  .navLink {
    font-size: 1.2rem;
  }

  .dropdown,
  .nestedDropdown {
    position: static;
    max-height: 0 !important;
    opacity: 0 !important;
    padding: 0;
    visibility: hidden !important;
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .dropdownOpen{
    max-height: 500px !important;
    opacity: 1 !important;
    visibility: visible !important;
    padding: 1rem 0;
  }

  .nestedDropdownOpen {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    padding: 1rem 0;
  }

  .nestedDropdown {
    padding-left: 1rem; /* Indent nested dropdowns */
  }

  .searchIcon {
    display: none;
  }

  .btn {
    display: none;
  }
}